body{
    background-color: #add8e6;
    text-align: center;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 64px
}

.list{
    background-color: #96bcc8;
    text-align: left;
    border-radius: 20px;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
}

#lasagna{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: #b5dce9;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#mac{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: #b5dce9;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#pizza{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: #b5dce9;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

img{
    border-style: double;
    border-radius: 40px;
    border-width: 10px;
    width: auto;
    max-width: 75%;
    height: auto;
}